header {
    padding: 30px;
    text-align: center;
    background: yellow;
}

h1 {
    font-size: 48px;
}

.punktiki a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
}

.menu {
    background-color: yellow;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    background: yellow;
    margin-top: 10px;
}


