body{
	font-family: 'Ubuntu Mono', monospace;
	padding: 0;
	margin: 0;
	border-right: 1px solid #6bff3d;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
div,img,a{
	box-sizing: border-box;
}
.div{
	display: flex;
	border-bottom: 1px solid #6bff3d;
}
h1{
	font-size: 25px;
	margin-top: 55px;
	text-align: center 
}
p{
	font-size: 18px;
	text-align: center 
}
.images{
	display: flex;
}
.imm2{
	margin-left: auto;
}
.photo{
	
    margin-left: 160px;
}
h2{
	text-align: center 
}